openapi: 3.0.3
info:
  title: DOKUMEN API GIS DZIKRI - OpenAPI 3.0
  description: >-
    Disini Berisi Semua Dokumentasi API GIS Dzikri
  termsOfService: https://github.com/Dzikri7/Dzikri7.github.io/
  contact:
    email: izzatulhaq8@gmail.com
  license:
    name: Dzikri Backend
    url: https://pkg.go.dev/github.com/Dzikri7/backendsuperimbagelo
  version: 1.0.11
externalDocs:
  description: Repo GCF
  url: https://pkg.go.dev/github.com/Dzikri7/backendsuperimbagelo
servers:
  - url: https://asia-southeast2-vivid-vent-401501.cloudfunctions.net
tags:
  - name: User
    description: SignIn dan SignUp
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/Dzikri7/backendsuperimbagelo
  - name: Create GIS
    description: Data Geo Spasial
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/Dzikri7/backendsuperimbagelo
  - name: auth
    description: Auth to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/Dzikri7/backendsuperimbagelo

paths:
  /function-Token:  # Penambahan endpoint Create GIS
    post:
      tags:
        - Create GIS
      summary: Create GIS Data
      description: Add new GIS data
      operationId: createGIS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Peta' # Gunakan skema yang sesuai di sini
      responses:
        '201':
          description: Data successfully created
        '400':
          description: Invalid input or request body
      security:
        - SECRET:
            - write:apiKey
            - read:SECRET
  /signin: 
    post:
      tags:
        - User
      summary: SignIn to Your Account
      description: Login Account
      operationId: createAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Successfull Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          description: Failed Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gagal'
      security:
        - SECRET:
            - write:apiKey
            - read:SECRET
  /signupfix: 
    post:
      tags:
        - User
      summary: SignUp to Your Account
      description: SignUp Account
      operationId: createAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Successfull Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignUp'
        '400':
          description: Failed Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gagal'
      security:
        - SECRET:
            - write:apiKey
            - read:SECRET
               
components:
  schemas:
    Peta:
      type: object
      properties:
        type:
          type: string
          example: "Feature"
        properties:
          type: object
          properties:
            name:
              type: string
              example: "LOKASI"
        geometry:
          type: object
          properties:
            type:
              type: string
              example: "Point"
            coordinates:
              type: array
              items:
                - type: array
                  items:
                    - [125.6, 10.1]
    User:
      example:
        username: "Dzikri7"
        password: "Dzikri718"
    Token:
      example:
        status: true
        message: "Berhasil Login"
        token: "v4.public xxxx"
    SignUp:
      example:
        status: true
        message: "Berhasil Input data"
    Gagal:
      example:
        status: false
        message: "Check Your Username or Password"
  securitySchemes:
    SECRET:
      type: apiKey
      name: SECRET
      in: header